__pycache__/
.idea/
venv/

!data/hebart
data/hebart/*
# Files to include
!data/hebart/words48.txt
!data/hebart/words18common.txt
!data/hebart/words46lsa.txt

!data/buchanan/
data/buchanan/*

!data/concreteness
data/concreteness/*
